
.page.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    position: relative;
    resize: horizontal;
    /* resize: both; */
}

.results {
    margin-top: var(--sidebar-width);
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow: scroll;
    margin-bottom: 10px;
}

.searchHeader {
    position: absolute;
    /* width: 30%; */
    /* width: calc(30% - calc(4 * var(--base-spacing))); */
    width: 100%;
    /* calc(calc(70% - var(--sidebar-width) - calc(3 * var(--base-spacing))) / 2); */
    z-index: 20;
    top: 0;
    min-height: var(--sidebar-width);
    height: var(--sidebar-width);
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0,0,0,0.1); */
    background-color: var(--background-darker);
}

.textInput {
    margin: var(--base-spacing);
    border: none;
    width: 100%;
    border-bottom: 1px solid var(--accent);
    background-color: rgba(0,0,0,0);
    caret-color: var(--accent);
    color: var(--text);
}

.textInput:focus {
    outline: none;
}


.textInput.active {
    /* background-color: rgba(12,255,255,0.1); */
    background-color: transparent;
}

.searchHeader.active {
    /* background-color: transparent; */
    /* background-color: rgba(38,38,43,1); */
    background-color: rgba(27,24,28,1);
    /* rgba(12,255,255,0.1); */
}
