
.page.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.textInput {
    margin: var(--base-spacing);
    border: none;
    border-bottom: 1px solid var(--accent);
    background-color: var(--background);
    caret-color: var(--accent);
    color: var(--text);
}

.textInput:focus {
    outline: none;
}
