@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

/* Variables */
:root {
    /* Palette */
    --background:#262328;
    --background-lighter:#262328;
    --background-darker: #221F24;
    /* --background-lighter:#3c393f; */
    /* --background:#2c393f; */
    --text: #FFFFFF;
    --accent: #0CFFE1;
    /* --accent: #89DDFF; */
    --dark-accent: #433765;

    /* Font */
    --primary-font: Roboto;

    /* Spacing */
    --base-spacing: .6em;
    --sidebar-width: 70px;
}

html {
    box-sizing: border-box;
    font: 20px/1.25 var(--primary-font), sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: var(--accent);
}

.pageContainer::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
    background: var(--background-lighter);
    color: var(--text);
    margin: 0;
    padding: 0;
    overflow: visible;
}

p {
    margin: 0;
    padding: calc(var(--base-spacing) / 2);
}

.container {
}

.pageContainer {
    position: absolute;
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    left: var(--sidebar-width);
    top: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: var(--background-lighter);
}


.page {
    /* border: 1px solid var(--accent); */
    overflow: scroll;
    margin-bottom: var(--base-spacing);
    margin-left: var(--base-spacing);
    height: 20em;
                /* - calc(1 * var(--base-spacing))); */
    /* width: calc(10% - calc(1.5 * var(--base-spacing))); */
    min-width: 12em;
    width: 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* margin: var(--base-spacing); */
    /* margin-right: 0; */
    /* margin-bottom: 0; */
    /* Setting 2px difference because it looks weird if not */
    /* margin-top: calc(var(--base-spacing) - 5px); */
    background-color: var(--background-darker);
}

.page.active {
    background-color: rgba(12,255,255,0.01);
    box-shadow: 4px 4px 15px rgba(0,3,4,0.4);
};
