.listSound {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 10em;
               /* calc(100% - calc(var(--base-spacing) * 2)); */
    min-height: 3em;
    height: 3em;
    margin-top: calc(var(--base-spacing) / 2);
    /* margin-bottom: calc(var(--base-spacing) / 2); */
    margin-left: var(--base-spacing);
    margin-right: var(--base-spacing);
    box-shadow: 1px 1px 5px rgba(0,3,4,0.4);
    background-color: rgba(12,255,225,0.1);
    filter: brightness(200%) contrast(120%) saturate(120%);

    overflow: hidden;
    padding: 0;
}


.lowerSound {
    /* padding: calc(var(--base-spacing) / 4); */
    /* padding-left: calc(var(--base-spacing) / 2); */
    position: relative;
    width: 100%;
    height: 3em;
    opacity: 0;
    /* color: var(--accent); */
    /* color: var(--background-darker); */
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* box-shadow: 1px 1px 5px rgba(0,3,4,0.4); */
}

.boh {
    position: absolute;
    background-color: rgba(5,5,5,0.2);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.lowerSound:hover {
    opacity: 1;
}

.lowerSound.playing {
    opacity: 1;
    background-color: rgba(12,255,255,0.05);
}

.upperSound {
    padding: calc(var(--base-spacing) / 4);
    padding-left: calc(var(--base-spacing) / 2);
    /* color: var(--background-darker); */
    /* color: var(--accent); */
    width: 100%;
    /* background-color: rgba(0,0,0,0.1); */
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* box-shadow: 1px 1px 5px rgba(0,3,4,0.4); */
}

.title {
    z-index: 1;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 2em);
    /* var(--sidebar-width)); */
}

.info {
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

.controls {
    z-index: 1;
    /* background-color: rgba(0,0,0,0.7); */
    /* background-color: rgba(0,0,0,0.1); */
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    /* box-shadow: 1px 1px 5px rgba(0,3,4,0.4); */
    /* height: 3em; */
    /* padding: calc(var(--base-spacing) / 2); */
    /* padding-left: var(--base-spacing); */
    /* padding-right: 0; */
    /* background-color: rgba(0,0,0,0.8); */
}

.similar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 14px;
    /* background-color: rgba(0,0,0,0.8); */
    /* background-color: rgba(0,0,0,0.1); */
    /* padding: calc(var(--base-spacing) / 2); */
    /* padding-left: var(--base-spacing); */
    /* padding-right: 0; */
    /* height: 3em; */
}

.duration {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    /* background-color: rgba(0,0,0,0.1); */
    /* background-color: rgba(0,0,0,0.8); */
    padding: calc(var(--base-spacing) / 2);
}


.wave {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    /* This is good! */
    /* filter: grayscale(100%) opacity(0.2) brightness(400%) contrast(200%); */
    filter: grayscale(0%) opacity(0.3) brightness(100%) contrast(100%) saturate(500%) hue-rotate(296deg);

    /* filter: grayscale(0%) opacity(0.2) brightness(400%) contrast(200%) invert(100%); */

    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    /* background-attachment: fixed; */
    /* mask-type: luminance; */
    /* mask-composite: subtract; */
}
